h1 {
  color: brown;
  font-weight: 200;
  font-style: bold;
  text-align: center;
  font-size: 50px;
}

h2 {

}

p {
  font-style: italic;

}
.giraffe {
  border-style: solid;
  padding: 10px;
  border-color: black;
  margin: 3px;
  /* float: right; */
  width: 719px;

}
.cats {
  border-style: solid;
  padding: 10px;
  border-color: black;
  margin: 3px;
  /* float: right; */
  width: 719px;
}
.dogs {
  border-style: solid;
  padding: 10px;
  border-color: black;
  margin: 3px;
  /* float: right; */
  width: 719px;

}
.pics {
  float: right;
  max-width: 300px;
  margin-top: -1006px;
  border-style: solid;
  border-color: black;

}

.giraffe h2{
  color: brown;

}
.dogs h2{
  color: brown;
}
.cats h2{
  color: brown;
}
